body{
	background-color: #FFFFFF;
	font-size: 18px;
	font-family: Open sans, sans-serifi;
	line-height: 1.8;
	color:#333;
}

.header{
	background-color:#000000;
	color:#fff;
	text-align:center;
	margin-bottom:50px;
}

.float-right{
	float:right;
}
.float-left{
	float:left;
}

 .panel-red{
 	background-color:#B10C2C!important;
 	color:#FFFFFF!important;
 	font-size: 18px!important;
	font-family: Open sans, sans-serifi!important;
	line-height: 1.8!important;
}
.panel-red-heading{
 	background-color:#B10C2C!important;
 	color:#FFFFFF!important;
 	border:0px!important;
 	font-size: 18px!important;
	font-family: Open sans, sans-serifi!important;
	line-height: 1.8!important;
	text-align:center;
 }
 .panel-title{
 	font-size:36px;
 	padding-top:20px!important;
 }

 .model-search{
 	margin-bottom:20px;
 }
 .btn-default{
 	color:#333;
 	background-color:#fff;
 	border-color: #fff;
 	margin-right:15px;
 	font-size: 18px!important;
	font-family: Open sans, sans-serifi!important;
 }

 .form-control{
 	font-size: 18px!important;
 	font-family: Open sans, sans-serifi!important;
  	color: #333!important;
 }

 .panel-heading-black{
 	background-color:#000!important;
 	color:#FFFFFF!important;
 	border:0px!important;
 	/*font-size: 18px!important;*/
	font-family: Open sans, sans-serifi!important;
	line-height: 1.8!important;
	text-align:center;
 }
 .time-label{
 	font-size:14px!important;
 	float:left;
 }
 .date-time{
 	font-size:14px!important;
 	color:#ccc!important;
 	float:left;
 }

 .title-rezultati{
 	padding-bottom:30px;
 }
 .valuta{
 	padding-bottom: 10px;
        padding-top: 10px;
        color: white;
        background-color: #B10C2C!important;
        margin-bottom: 20px;
 }

 .best-value{
 	padding-top:10px;
 	
 }

 .rest{
 	padding-top:10px;
 	background-color: #E6E7EB;
 	border-top: 1px solid #ccc;

 }

 .label-cnt{
 	font-size:14px!important;
 	color:#666!important;
  	font-family: Open sans, sans-serifi!important;
	line-height: 1.0!important;
 }

 .cnt{
 	font-size:14px!important;
 	color:#666!important;
  	font-family: Open sans, sans-serifi!important;
	line-height: 1.0!important;
	font-weight:bold;
 }

 .naziv-modela{
 	font-family: Open sans, sans-serifi!important;
	line-height: 1.8!important;	
	font-size: 24px!important;
	font-weight:bold!important;
 }

 li a{
 	font-size: 18px;
	font-family: Open sans, sans-serifi;
	line-height: 1.8;
	color:#333;

 }
 a:hover{
 	text-decoration: none;
 	
}

.li-title{
	background-color:#000000!important;
	color:#fff!important;
}

.img-style{
	float:right;
	padding-top:0px;
	padding-right:10px;
	padding-bottom:10px;
}
.bdy{
	padding-top:0px!important;
}

.searching{
	background-color:#000!important;
 	color:#FFFFFF!important;
 	font-size: 24px!important;
	font-family: Open sans, sans-serifi!important;
	line-height: 1.8!important;
	text-align:center;
	min-height:128px;
	vertical-align: middle;
	margin-bottom:20px;
	padding-top:40px;
}

.form-control.small{
    display:inline-block;
    width:290px;
}